body {
    background-color: #FFF8F4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.main-container {
    max-width: 320px;
    max-height: 581px;
    background-color: black;
    border-radius: 24px;
    box-shadow: 9px 7px 5px #4e4e4e;
}

.block-result {
    min-width: 288px;
    max-width: 288px;
    min-height: 117px;
    max-height: 117px;
    border-bottom: 1px solid #1F2937;
    margin: 64px 16px 16px 16px;
    color: #FFF;
    font-size: 64px;
    font-weight: 400;
    word-break: break-all;
    white-space: normal;
    overflow: auto;
    transition: font-size 0.3s;
}

.action-keys {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 11px 12px;
    margin: 0 15px 16px 16px;
}

.action-keys__button {
    box-sizing: border-box;
    padding: 18px 19px;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    line-height: 64.28571428571429%;
    color: #FFF;
    background-color: #333333;
    border-radius: 8px;
    min-width: 64px;
    min-height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color .3s;
    border: none;
}

.action-keys__button:not(.button_grey, .button_orange):hover {background-color: #444444;}

.button_grey {background-color: #A5A5A5; transition: background-color .3s;}

.button_grey:hover {background-color: #C5C5C5;}

.button_orange {background-color: #FF9F0A; transition: background-color .3s;}

.button_orange:hover {background-color: #FFB143;}

.i0 {grid-column: span 2;}