<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Иконка -->
    <link rel="icon" href="/assets/icons/title-icon.ico" type="image/x-icon">
    <!-- Стили -->
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/components/base_css_style.css">
    <title>Calculator</title>
</head>
<body>
    <div class="main-container">
        <div class="block-result" id="result">0</div>
        <div class="action-keys">
            <button onclick="clearDisplay()" class="action-keys__button button_grey">AC</button>
            <button onclick="plusAndMinusToDisplay()" class="action-keys__button button_grey">+/-</button>
            <button onclick="appendToDisplay('%')" class="action-keys__button button_grey">%</button>
            <button onclick="appendToDisplay('÷')" class="action-keys__button button_orange">&divide;</button>
            <button onclick="appendToDisplay('7')" class="action-keys__button">7</button>
            <button onclick="appendToDisplay('8')" class="action-keys__button">8</button>
            <button onclick="appendToDisplay('9')" class="action-keys__button">9</button>
            <button onclick="appendToDisplay('×')" class="action-keys__button button_orange">&times;</button>
            <button onclick="appendToDisplay('4')" class="action-keys__button">4</button>
            <button onclick="appendToDisplay('5')" class="action-keys__button">5</button>
            <button onclick="appendToDisplay('6')" class="action-keys__button">6</button>
            <button onclick="appendToDisplay('-')" class="action-keys__button button_orange">-</button>
            <button onclick="appendToDisplay('1')" class="action-keys__button">1</button>
            <button onclick="appendToDisplay('2')" class="action-keys__button">2</button>
            <button onclick="appendToDisplay('3')" class="action-keys__button">3</button>
            <button onclick="appendToDisplay('+')" class="action-keys__button button_orange">+</button>
            <button onclick="appendToDisplay('0')" class="action-keys__button i0">0</button>
            <button onclick="appendToDisplay('.')" class="action-keys__button">.</button>
            <button onclick="resultDisplay()" class="action-keys__button button_orange">=</button>
        </div>
    </div>

    <!-- Скрипт -->
    <script src="/scripts/script.js"></script>
</body>
</html>